.viewer-bar {
  width: 100%;
  height: 30px;
  background-color: #2a2a47;
  display: flex;
  border-radius: 15px;
}

.day-bar {
  background-color: #87ceeb;
  height: 26px;
  display: flex;
  position: relative;
  transform: translatey(2px);
  border-radius: 13px;
}

.golden-hour {
  background-color: #ff7f32;
  border-radius: 50%;
  height: 40px;
  aspect-ratio: 1;
  display: flex;
  position: relative;
  top: -5px;
  transform: translateX(-50%);
}
